* {
	padding: 0px;
	margin: 0px;

}

.back {
	position: static;
	width: 100%;
	z-index: -1;
	top: 0;
}

.top {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0px;
	z-index: 1;	
}



.continue {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 18px;
	position: absolute;
	-webkit-background-clip: text;
	z-index: 2;
	left: 2%;
	top: 800px;

}
.continue:hover {
  	background: #000000;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	cursor: pointer;
  	z-index: 2;
}