* {
	padding: 0px;
	margin: 0px;
}

.back {
	position: relative;
	width: 100%;
	top:0;
	z-index: -1;	
}

.top {
	position: -webkit-fixed;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 1;	
}

.continue {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 18px;
	position: fixed;
	top: 1.7%;
	left: 17%;
	-webkit-background-clip: text;
	z-index: 2;

}

.continue:hover {
  	background: #0f3ca0;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	cursor: pointer;
  	z-index: 2;
}
